[Unit]
Description=WebLogic NodeManager Service
After=network.target sshd.service

[Service]
Type=simple
WorkingDirectory=/home/oracle/bin
ExecStart=/u01/app/oracle/product/12.2.1.4.0/user_projects/domains/satehmldomain/bin/startNodeManager.sh
ExecStop=/u01/app/oracle/product/12.2.1.4.0/user_projects/domains/satehmldomain/bin/stopNodeManager.sh
User=oracle
Group=oinstall
Restart=no
TimeoutStartSec=300
TimeoutStopSec=300
KillMode=process

[Install]
WantedBy=multi-user.target
