[Unit]
Description=WebLogic NodeManager Service
After=network.target sshd.service

[Service]
Type=simple
#EnvironmentFile=/home/oracle/.bash_profile
#EnvironmentFile=/u01/app/oracle/product/12.2.1.4.0/user_projects/domains/<domain name>/bin/setDomainEnv.sh
#WorkingDirectory=/home/oracle/bin
ExecStart=/u01/app/oracle/product/12.2.1.4.0/user_projects/domains/<domain name>/bin/startNodeManager.sh
ExecStop=/u01/app/oracle/product/12.2.1.4.0/user_projects/domains/<domain name>/bin/stopNodeManager.sh
User=oracle
Group=oinstall
Restart=no
TimeoutStartSec=300
TimeoutStopSec=300
KillMode=process
StandardOutput=append:/var/log/nodemanager/nm.out
StandardError=inherit

[Install]
WantedBy=multi-user.target
